* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(222, 228, 222);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* header */

header {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
}

#head img {
    padding-left: 140px;
    line-height: 100%;
    vertical-align: middle;

}


#head span {
    font-size: 40px;
    font-weight: bold;
    line-height: 100%;
    vertical-align: middle;
}

/* main */

.container {
    width: 60%;
    height: 95%;
    background-color: white;
    margin: 4% auto;
    border-radius: 5px;
    padding: 2% 4% 3% 4%;
}

/* bottoni */
.btn {
    margin-bottom: 30px;
}

.sec {
    height: 30px;
    width: 105px;
    border-radius: 11px;
    color: white;
    background-color: rgb(3, 173, 252);
    border-width: 0;
    font-size: small;
    font-weight: bold;
}

.tas {
    height: 30px;
    width: 85px;
    border-radius: 11px;
    background-color: white;
    border-width: 1px;
    border-color: grey;
    font-size: small;
    font-weight: bold;
}

/* lista */

.titolo::before {
    content: "\25BC";
    margin-right: 3px;
    font-size: small;
}

.titolo {
    font-size: 20px;
    font-weight: bold;
}

.task {
    margin-bottom: 25px;
}

.today {
    margin-bottom: 25px;
}

.task p,
.today p,
.upcoming p {
    margin: 15px 0;
}




/* checkbox */

.check::before {
    content: "\2713";
    color: rgb(144, 221, 29);
    border-radius: 50%;
    border: solid rgb(144, 221, 29);
    border-width: thin;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    display: inline-flex;
}

.x::before {
    content: "\2715";
    color: rgb(255, 3, 3);
    border-radius: 50%;
    border: solid rgb(250, 19, 19);
    border-width: thin;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    display: inline-flex;
}


/*mattoni colorati */

span.mattone {
    display: inline-flex;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

span.blu {
    background-color: rgb(4, 221, 250);
}


span.viola {
    background-color: rgb(88, 88, 187);
}

span.verde {
    background-color: rgb(38, 196, 17);
}

span.arancione {
    background-color: rgb(240, 158, 7);
}

span.rosa {
    background-color: rgb(206, 43, 179);
}

span.verdescuro {
    background-color: rgb(68, 136, 59);

}